*{
  box-sizing:border-box;
  margin:0;
}
nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}
nav>img{
  margin-right: 10px;
  width:40px
  
}
nav>h3{
  margin-left:auto;
  color:#DEEBF8;
  font-weight: 600;
  
}
nav>h2{
  color: #61DAFB; 
  font-weight: 700;
  font-size: 22px;
}