*{
  box-sizing:border-box;
}
body{
  background-color: #282D35;
  margin:0;
  height:100vh;
}
nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}
.nav-logo{
  margin-right: 10px;
  width:40px
  
}
.nav-logo_text{
  color: #61DAFB; 
  font-weight: 700;
  font-size: 22px;
  margin-right: auto;
}
.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.9rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #c1bfcc;
  
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #444446;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}
main{
  padding:60px 30px;
  background-image: url(./assets/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 65%;
  color:white;
}
.main-title{
  margin:0;
  font-size:40px;
  font-weight:bold;
  letter-spacing: -0.05em;

}
.main-facts{
  margin-top: 46px;
  max-width: 400x;
}
.main-facts>li{
  line-height: 20px;
  padding-block:10px;
}
.main-facts>li::marker{
  font-size: 1.3rem;
  color:#61DAFB;
}
main.dark {
  background-image: url("./assets/react-icon-large.png"); 
  background-color: #38475b;
  color: rgb(182, 174, 174);    
}