html, body {
    margin: 5;
    margin-top:0;
    padding: 0;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    list-style: none;

}
.nav-items>li{
    padding:10px
}
.imgur{
    width:60px
}
.foot{
    text-align:center
}